In [1]:
import requests
import pandas as pd
import json
import time
import sqlite3

api_key = ''

api_key=open('my_api_key.txt', 'r').read()
company = "TSM"

years = 30

print("getting data from web..please wait")
time.sleep(3)

# link to balance sheet api
response = requests.get(f"https://financialmodelingprep.com/api/v3/balance-sheet-statement/{company}?apikey={api_key}&limit=120")
data = response.json()

new_data= json.dumps(data)

df=pd.read_json(new_data)

print("displaying data momentarily..")
time.sleep(3)
df.head()

print("done. data collected for you to view")

getting data from web..please wait
displaying data momentarily..
done. data collected for you to view

In [2]:
columns_i_want = ['calendarYear',
                  'symbol',
                 'totalAssets',
                 'totalLiabilities',
                 'netReceivables',
                 'retainedEarnings',
                 'totalStockholdersEquity',
                 'cashAndCashEquivalents']

In [3]:
new_df = df[columns_i_want]
new_df_2 = new_df.copy()

In [4]:
new_df_2['ROA_ratio'] = new_df_2['totalAssets'].div(new_df_2['totalLiabilities'].values)

In [6]:
new_df_2.head(10)

,calendarYear,symbol,totalAssets,totalLiabilities,netReceivables,retainedEarnings,totalStockholdersEquity,cashAndCashEquivalents,ROA_ratio
0,2021,TSM,3725302200000,1573619700000,198362900000,1887802900000,2149259800000,1064990200000,2.367346
1,2020,TSM,2760600500000,924836700000,146089000000,1573840100000,1834811300000,660170600000,2.984960
2,2019,TSM,2264725000000,650337700000,139822300000,1325630400000,1613705600000,455399300000,3.482383
3,2018,TSM,2090031200000,428926100000,129262800000,1360258900000,1660428800000,577814600000,4.872707
4,2017,TSM,1991732000000,497285500000,122488400000,1205051300000,1493746800000,553391700000,4.005208

In [7]:
# populate sql database
conn = sqlite3.connect('fake_data.db')
c = conn.cursor()

new_df_2.to_sql('Balance_Sheet', conn, if_exists='append', index = False)

5