In [1]:
import requests
import pandas as pd
import json
import time
import sqlite3

api_key = ''

api_key=open('my_api_key.txt', 'r').read()
company = "TSM"

print("getting data from web..please wait")
time.sleep(3)

# link to company profile api
response = requests.get(f"https://financialmodelingprep.com/api/v3/profile/{company}?apikey={api_key}")
data = response.json()
new_data= json.dumps(data)
df=pd.read_json(new_data)
desired_columns = ['symbol', 'companyName', 'sector', 'industry', 'country']

final_df = df[desired_columns]

print("finishing..")
time.sleep(3)

print("done. data collected for you to view")

getting data from web..please wait
finishing..
done. data collected for you to view

In [2]:
final_df.head()

  symbol    companyName             sector         industry country
0   CPNG  Coupang, Inc.  Consumer Cyclical  Internet Retail      US

In [3]:
# send the df to fake sql database
conn = sqlite3.connect('fake_data.db')
c = conn.cursor()

final_df.to_sql('Company', conn, if_exists='append', index = False)

1